# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
.env

# Unencrypted secrets (only track *.enc.yaml)
**/secrets/*.yaml
!**/secrets/*.enc.yaml
